'.text.html.basic,.text.html.jsp,.text.html.php':
	'Basic' :
		'prefix': 'Checkbox(Basic)'
		'rightLabelHTML' : 'Alopex'
		'leftLabelHTML' : 'Markup'
		'description': '기본 Checkbox 의 HTML Markup 을 구성합니다.'
		'descriptionMoreURL': 'https://ui.alopex.io/development/component/checkbox#Basic_기본체크박스'
		'body': """
<label>
	<input class="Checkbox" type="checkbox" name="chk0" value = "check1">
	Check1
</label>
<label>
	<input class="Checkbox" type="checkbox" name="chk0" value = "check2">
	Check2
</label>
<label>
	<input class="Checkbox" type="checkbox" name="chk0" value = "check3">
	Check3
</label>
"""

	'ImageCheckBox' :
		'prefix': 'Checkbox(ImageCheckBox)'
		'rightLabelHTML' : 'Alopex'
		'leftLabelHTML' : 'Markup'
		'description': 'Checkbox에 이미지 파일을 이용하여 스타일이 적용 된 HTML Markup 을 구성합니다.'
		'descriptionMoreURL': 'https://ui.alopex.io/development/component/checkbox#Basic_이미지체크박스'
		'body': """
<label class="ImageCheckbox">
	<input class="Checkbox" type="checkbox" name="chk1" value = "check1">
	Check1
</label>
<label class="ImageCheckbox" id="checkTest04">
	<input class="Checkbox" type="checkbox" name="chk1" value = "check2">
	Check2
</label>
<label class="ImageCheckbox">
	<input class="Checkbox" type="checkbox" name="chk1" value = "check3">
	Check3
</label>
"""
