'.text.html.basic,.text.html.jsp,.text.html.php':
  'Basic' :
    'prefix': 'DropdownButton(Basic)'
    'rightLabelHTML' : 'Alopex'
    'leftLabelHTML' : 'Markup'
    'description': '기본 DropdownButton 의 HTML Markup 을 구성합니다.'
    'descriptionMoreURL': 'http://ui.alopex.io/2.3/dev-component/component.html?target=dropdownbutton#Basic'
    'body': """
<button class="Dropdownbutton">select</button>
<ul>
    <li><a>option 1</a></li>
    <li><a>option 2</a></li>
    <li><a>option 3</a></li>
    <li><a>option 4</a></li>
</ul>
"""
