'.text.html.basic,.text.html.jsp,.text.html.php':
	'Basic' :
		'prefix': 'Fileupload(Basic)'
		'rightLabelHTML' : 'Alopex'
		'leftLabelHTML' : 'Markup'
		'description': '기본 Single Fileupload 의 HTML Markup 을 구성합니다.'
		'descriptionMoreURL': 'https://ui.alopex.io/development/plugin/fileupload#Basic'
		'body': """
<div id="fileuploader" class="Fileupload" data-selectType="basic" ></div>
"""
	'Advance' :
		'prefix': 'Fileupload(Advance)'
		'rightLabelHTML' : 'Alopex'
		'leftLabelHTML' : 'Markup'
		'description': 'Multiple Fileupload 의 HTML Markup 을 구성합니다.'
		'descriptionMoreURL': 'https://ui.alopex.io/development/plugin/fileupload#Attributes_dataselecttypestring'
		'body': """
<div id="fileuploader" class="Fileupload" data-selectType="advance" ></div>
"""
