'.text.html.basic,.text.html.jsp,.text.html.php':
	'Basic' :
		'prefix': 'Icon(Basic)'
		'rightLabelHTML' : 'Alopex'
		'leftLabelHTML' : 'Markup'
		'description': '기본 Icon 의 HTML Markup 을 구성합니다.'
		'descriptionMoreURL': 'https://ui.alopex.io/development/component/icon#Basic'
		'body': """
<span class="Icon Plus-sign"></span>
"""

	'IconButton' :
		'prefix': 'Icon(IconButton)'
		'rightLabelHTML' : 'Alopex'
		'leftLabelHTML' : 'Markup'
		'description': 'IconButton 의 HTML Markup 을 구성합니다.'
		'descriptionMoreURL': 'https://ui.alopex.io/development/component/icon#Basic_IconButtons'
		'body': """
<button class="Button"><span class="Icon Plus-sign" data-position="left"></span>Add</button>
"""
