'.text.html.basic,.text.html.jsp,.text.html.php':
	'Basic' :
		'prefix': 'Panel(Basic)'
		'rightLabelHTML' : 'Alopex'
		'leftLabelHTML' : 'Markup'
		'description': '기본 Panel 의 HTML Markup 을 구성합니다.'
		'descriptionMoreURL': 'http://ui.alopex.io/development/component/panel#Basic'
		'body': """
<div class="Panel">
	<div class="Panel-header">Panel-header</div>
	<div class="Panel-content">content</div>
</div>
"""
