'.text.html.basic,.text.html.jsp,.text.html.php':
	'Basic' :
		'prefix': 'Radio(Basic)'
		'rightLabelHTML' : 'Alopex'
		'leftLabelHTML' : 'Markup'
		'description': '기본 Radio 의 HTML Markup 을 구성합니다.'
		'descriptionMoreURL': 'http://ui.alopex.io/2.3/development/component/component.html?target=radio#Basic_기본라디오버튼'
		'body': """
<label>
	<input class="Radio" type="radio" name="radio2" value="value1">Radio1
</label>
<label>
	<input class="Radio" type="radio" name="radio2" value="value2">Radio2
</label>
<label>
	<input class="Radio" type="radio" name="radio2" value="value3">Radio3
</label>
<label>
	<input class="Radio" type="radio" name="radio2" value="value4">Radio4
</label>
"""
	'ImageRadio' :
		'prefix': 'Radio(ImageRadio)'
		'rightLabelHTML' : 'Alopex'
		'leftLabelHTML' : 'Markup'
		'description': 'Radio에 이미지 파일을 이용하여 스타일이 적용 된 HTML Markup 을 구성합니다.'
		'descriptionMoreURL': 'http://ui.alopex.io/2.3/development/component/component.html?target=radio#Basic_이미지라디오버튼'
		'body': """
<label class="ImageRadio">
	<input class="Radio" name="radio2" value="value1">radio1
</label>
<label class="ImageRadio">
	<input class="Radio" name="radio2" value="value2">Radio2
</label>
<label class="ImageRadio">
	<input class="Radio" name="radio2" value="value3">Radio3
</label>
<label class="ImageRadio">
	<input class="Radio" name="radio2" value="value4">Radio4
</label>
"""
