'.text.html.basic,.text.html.jsp,.text.html.php':
	'Basic' :
		'prefix': 'Select(Basic)'
		'rightLabelHTML' : 'Alopex'
		'leftLabelHTML' : 'Markup'
		'description': '기본 Select 의 HTML Markup 을 구성합니다.'
		'descriptionMoreURL': 'http://ui.alopex.io/2.3/dev-component/component.html?target=select#Basic_기본셀렉트'
		'body': """
<select id="selectId" class="Select" >
	<option value="korea">Korea</option>
	<option value="usa">USA</option>
	<option value="japan">Japan</option>
	<option value="china">China</option>
</select>
"""

	'ImageSelect' :
		'prefix': 'Select(ImageSelect)'
		'rightLabelHTML' : 'Alopex'
		'leftLabelHTML' : 'Markup'
		'description': 'Select에 이미지 파일을 이용하여 스타일이 적용 된 HTML Markup 을 구성합니다.'
		'descriptionMoreURL': 'http://ui.alopex.io/2.3/dev-component/component.html?target=select#Basic_이미지셀렉트'
		'body': """
<div class="Divselect">
	<select>
		<option value="korea">Korea</option>
		<option value="usa">USA</option>
		<option value="japan">Japan</option>
		<option value="china">China</option>
	</select>
	<span></span>
</div>
"""
