'.text.html.basic,.text.html.jsp,.text.html.php':
	'Basic' :
		'prefix': 'Splitter(Basic)'
		'rightLabelHTML' : 'Alopex'
		'leftLabelHTML' : 'Markup'
		'description': '기본 Splitter 의 HTML Markup 을 구성합니다.'
		'descriptionMoreURL': 'https://ui.alopex.io/development/plugin/splitter#Basic'
		'body': """
<div class="Splitter" data-position="40%" data-orientation="horizontal" style="height:600px;">
	<div class="top_panel">
		the top contents
	</div>
	<div class="bottom_panel">
		the bottom contents
	</div>
</div>
"""
