'.text.html.basic,.text.html.jsp,.text.html.php':
	'Basic' :
		'prefix': 'TextArea(Basic)'
		'rightLabelHTML' : 'Alopex'
		'leftLabelHTML' : 'Markup'
		'description': '기본 TextArea 의 HTML Markup 을 구성합니다.'
		'descriptionMoreURL': 'http://ui.alopex.io/development/component/textarea#Basic'
		'body': """
<textarea class="Textarea" rows="6" cols="40"></textarea>
"""
