'.source.js':
	'API.AlopexGrid.addPlugin' :
		'prefix': 'addPlugin'
		'rightLabelHTML' : 'AlopexGrid'
		'leftLabelHTML' : 'Void'
		'description': '[Global API] updateOption 혹은 updateColumn 함수 호출이나 사용자의 의한 직접적인 옵션 변경이 발생했을 때 플러그인을 등록하는 함수입니다.'
		'descriptionMoreURL': 'https://grid.alopex.io/html/docs.html#APIs_addPin'
		'body': 'AlopexGrid.addPlugin( ${1:plugin} );$2'
	'API.AlopexGrid.clearSetup' :
		'prefix': 'clearSetup'
		'rightLabelHTML' : 'AlopexGrid'
		'leftLabelHTML' : 'Void'
		'description': '[Global API] AlopexGrid.setup API로 설정된 공통 설정을 지울 때 사용합니다.'
		'descriptionMoreURL': 'https://grid.alopex.io/html/docs.html#APIs_AlopexGridclearSetup'
		'body': 'AlopexGrid.clearSetup();$1'
	'API.AlopexGrid.currentData' :
		'prefix': 'currentData'
		'rightLabelHTML' : 'AlopexGrid'
		'leftLabelHTML' : 'Object|Array'
		'description': '[Global API] Data Object에서 현재 편집 중인 데이터를 가져옵니다.'
		'descriptionMoreURL': 'https://grid.alopex.io/html/docs.html#APIs_AlopexGridcurrentData'
		'body': 'AlopexGrid.currentData( ${1:data} );$2'
	'API.AlopexGrid.currentValue' :
		'prefix': 'currentValue'
		'rightLabelHTML' : 'AlopexGrid'
		'leftLabelHTML' : 'String|Number|Object'
		'description': '[Global API] Data Object에서 현재 편집 중인 데이터에서 지정된 key의 값만 가져옵니다.'
		'descriptionMoreURL': 'https://grid.alopex.io/html/docs.html#APIs_AlopexGridcurrentValue'
		'body': 'AlopexGrid.currentValue( ${1:data}, ${2:key} );$3'
	'API.AlopexGrid.define' :
		'prefix': 'define'
		'rightLabelHTML' : 'AlopexGrid'
		'leftLabelHTML' : 'Void'
		'description': '[Global API] 그리드 생성에 앞서 개별 그리드에 공통요소를 설정하고자 할 때 사용합니다.'
		'descriptionMoreURL': 'https://grid.alopex.io/html/docs.html#APIs_AlopexGriddefine'
		'body': 'AlopexGrid.define( ${1:key}, ${2:value} );$3'
	'API.AlopexGrid.escapeHTML' :
		'prefix': 'escapeHTML'
		'rightLabelHTML' : 'AlopexGrid'
		'leftLabelHTML' : 'String'
		'description': '[Global API]  값에 포함된 <, >, & 와 같은 문자를 escape하여 &lt;, &gt;, &amp; 형식의 escape character로 치환합니다.'
		'descriptionMoreURL': 'https://grid.alopex.io/html/docs.html#APIs_AlopexGridescapeHTML'
		'body': 'AlopexGrid.escapeHTML( ${1:value} );$2'
	'API.AlopexGrid.generateKey' :
		'prefix': 'generateKey'
		'rightLabelHTML' : 'AlopexGrid'
		'leftLabelHTML' : 'String'
		'description': '[Global API] 현재 페이지에서 unique한 값을 생성하고자 할 때 호출합니다.'
		'descriptionMoreURL': 'https://grid.alopex.io/html/docs.html#APIs_AlopexGridgenerateKey'
		'body': 'AlopexGrid.generateKey();$1'
	'API.AlopexGrid.i18nLocaleSet' :
		'prefix': 'i18nLocaleSet'
		'rightLabelHTML' : 'AlopexGrid'
		'leftLabelHTML' : 'Void'
		'description': '[Global API] 그리드 정의/필터링과 컨텍스트 메뉴 등의 팝업 메뉴의 언어를 사용자가 원하는 대로 지정할 수 있습니다.'
		'descriptionMoreURL': 'https://grid.alopex.io/html/docs.html#APIs_AlopexGridi18nLocaleSet'
		'body': 'AlopexGrid.i18nLocaleSet.${1:keyword} = {"${2:menuName}" : "${3:language}"};$4'
	'API.AlopexGrid.locale' :
		'prefix': 'locale'
		'rightLabelHTML' : 'AlopexGrid'
		'leftLabelHTML' : 'Void'
		'description': '[Global API] AlopexGrid.i18nLocaleSet에서 설정한 언어로 그리드 정의/필터링과 컨텍스트 메뉴의 언어를 변경하여 사용할 수 있습니다.'
		'descriptionMoreURL': 'https://grid.alopex.io/html/docs.html#APIs_AlopexGridlocale'
		'body': 'AlopexGrid.locale = "${1:keyword}";$2'
	'API.AlopexGrid.parseEvent' :
		'prefix': 'parseEvent'
		'rightLabelHTML' : 'AlopexGrid'
		'leftLabelHTML' : 'Object'
		'description': '[Global API] 이벤트 오브젝트를 파싱해서 정형된 jQuery object와 Object를 제공합니다.'
		'descriptionMoreURL': 'https://grid.alopex.io/html/docs.html#APIs_AlopexGridparseEvent'
		'body': 'AlopexGrid.parseEvent( ${1:event} );$2'
	'API.AlopexGrid.setup' :
		'prefix': 'setup'
		'rightLabelHTML' : 'AlopexGrid'
		'leftLabelHTML' : 'Void'
		'description': '[Global API] 그리드 생성에 앞서 모든 그리드에 공통설정을 하기 위해 사용합니다.'
		'descriptionMoreURL': 'https://grid.alopex.io/html/docs.html#APIs_AlopexGridsetup'
		'body': 'AlopexGrid.setup( ${1:commonOption} );$2'
	'API.AlopexGrid.trimData' :
		'prefix': 'trimData'
		'rightLabelHTML' : 'AlopexGrid'
		'leftLabelHTML' : 'Object|Array'
		'description': '[Global API] 데이터에 포함된 _index 또는 _state 와 같은 값을 제거할 때 사용합니다.'
		'descriptionMoreURL': 'https://grid.alopex.io/html/docs.html#APIs_AlopexGridtrimData'
		'body': 'AlopexGrid.trimData( ${1:data}, ${2:[preserveState]} );$3'


	# 'API.AlopexGrid.temp' :
	#   'prefix': 'temp'
	#   'rightLabelHTML' : 'AlopexGrid'
	#   'leftLabelHTML' : 'Void'
	#   'description': 'des'
	#   'descriptionMoreURL': 'http'
	#   'body': 'AlopexGrid.temp( ${1:plugin} );$2'
